._ltr_l-e-w {
  display: inline-block;
  padding: 0.2em;
  border: 0.1em solid #d1d1d1;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li {
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #d1d1d1;
  margin: 0.2em;
  background: #eaeaea;
  color: #848484;
  width: 0em;
  opacity: 0;
  height: 1em;
  line-height: 1.0em;
  -webkit-transition: width 1s ease-in, opacity 0.5s ease-in;
  -moz-transition: width 1s ease-in, opacity 0.5s ease-in;
  -ms-transition: width 1s ease-in, opacity 0.5s ease-in;
  -o-transition: width 1s ease-in, opacity 0.5s ease-in;
  transition: width 1s ease-in, opacity 0.5s ease-in;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.showli {
  width: auto;
  opacity: 1;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li._ltr-li-wrapper {
  width: 5em;
  float: left;
  height: 0.9em;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li span {
  cursor: pointer;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.addedTag {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.addedTag:hover {
  width: auto;
  background-color: #d1d1d1;
}
._ltr_l-e-w ._ltr-dtulc input[type=text] {
  width: 99%;
  background: none;
  border: none;
  color: #111;
  top: -0.2em;
  position: relative;
}
._ltr_l-e-w ._ltr-dtulc input[type=text]:focus {
  outline: 0;
}
._ltr_l-e-w ._ltr-sc {
  width: 100%;
  display: none;
}
._ltr_l-e-w ._ltr-sc.show {
  display: inline-block;
}
._ltr_l-e-w ._ltr-cbc {
  display: none;
}
._ltr-border {
  border: 1px solid #d1d1d1;
}
._ltr-taglistyle {
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #d1d1d1;
  margin: 0.2em;
  background: #eaeaea;
  color: #848484;
  width: 0em;
  opacity: 0;
  height: 1em;
  line-height: 1.0em;
  -webkit-transition: width 1s ease-in, opacity 0.5s ease-in;
  -moz-transition: width 1s ease-in, opacity 0.5s ease-in;
  -ms-transition: width 1s ease-in, opacity 0.5s ease-in;
  -o-transition: width 1s ease-in, opacity 0.5s ease-in;
  transition: width 1s ease-in, opacity 0.5s ease-in;
}
._ltr-taglistyle.showli {
  width: auto;
  opacity: 1;
}
._ltr-taglistyle._ltr-li-wrapper {
  width: 5em;
  float: left;
  height: 0.9em;
}
._ltr-taglistyle span {
  cursor: pointer;
}
