._ltr_l-e-w {
  display: inline-block;
  padding: 0.2em;
  border: 0.1em solid #bcbcbc;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li {
  display: inline-block;
  padding: 0.2em;
  margin: 0.2em;
  background: #bcbcbc;
  color: #fff;
  width: 0em;
  height: 1em;
  line-height: 1.0em;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0.8s ease-in;
  -moz-transition: width 0.8s ease-in;
  -ms-transition: width 0.8s ease-in;
  -o-transition: width 0.8s ease-in;
  transition: width 0.8s ease-in;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.showli {
  width: 5em;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li._ltr-li-wrapper {
  width: 5em;
  float: left;
  height: 0.9em;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li span {
  cursor: pointer;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.addedTag {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._ltr_l-e-w ._ltr-dtulc ._ltr-ulc li.addedTag:hover {
  width: auto;
  background-color: #a3a3a3;
}
._ltr_l-e-w ._ltr-dtulc input[type=text] {
  width: 99%;
  background: none;
  border: none;
  color: #fff;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
  top: -0.2em;
  position: relative;
}
._ltr_l-e-w ._ltr-dtulc input[type=text]:focus {
  outline: 0;
}
._ltr_l-e-w ._ltr-sc {
  width: 100%;
}
._ltr_l-e-w ._ltr-cbc {
  display: none;
}
._ltr-border {
  border: 1px solid #bcbcbc;
}
._ltr-taglistyle {
  display: inline-block;
  padding: 0.2em;
  margin: 0.2em;
  background: #bcbcbc;
  color: #fff;
  width: 0em;
  height: 1em;
  line-height: 1.0em;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0.8s ease-in;
  -moz-transition: width 0.8s ease-in;
  -ms-transition: width 0.8s ease-in;
  -o-transition: width 0.8s ease-in;
  transition: width 0.8s ease-in;
}
._ltr-taglistyle.showli {
  width: 5em;
}
._ltr-taglistyle._ltr-li-wrapper {
  width: 5em;
  float: left;
  height: 0.9em;
}
._ltr-taglistyle span {
  cursor: pointer;
}
